body {
  font-family: system-ui, sans-serif;
  margin: 0;
  overflow: hidden;
  color: #e5e7eb;
}

#map {
  width: 100%;
  height: calc(100vh - 48px);
  background: #0b1021;
}

.leaflet-popup-content {
  font-size: 13px;
  color: #111;
}
