[Unit]
Description=Periodically enforce Barrier client LAN preference

[Timer]
OnBootSec=60
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target
