[Unit]
Description=Chaba Backup Monitoring Timer
Requires=chaba-backup-monitor.service

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target