pc1.vpn {
    tls internal

    route {
        handle /docs* {
            reverse_proxy mcp-doc-archiver:8066
        }

        handle_path /chat* {
            reverse_proxy openchat-ui:3000
        }

        handle_path /openai* {
            reverse_proxy mcp-openai-gateway:8181
        }

        handle_path /1mcp* {
            reverse_proxy 1mcp-agent:3051 {
                header_up Accept "application/json, text/event-stream"
            }
        }

        handle {
            redir /chat/ 302
        }
    }
}

:80 {
    route {
        handle_path /1mcp* {
            reverse_proxy 1mcp-agent:3051 {
                header_up Accept "application/json, text/event-stream"
            }
        }

        handle {
            respond 404
        }
    }
}

1mcp.pc1.vpn {
    reverse_proxy 1mcp-agent:3051 {
        header_up Accept "application/json, text/event-stream"
    }
    tls internal
}

openchat.pc1.vpn {
    reverse_proxy openchat-ui:3000
    tls internal
}

openai.pc1.vpn {
    reverse_proxy mcp-openai-gateway:8181
    tls internal
}

rag.pc1.vpn {
    reverse_proxy mcp-rag:8055
    tls internal
}
