diffusers>=0.30.3
transformers>=4.44.2
accelerate>=0.34.0
fastapi==0.111.1
uvicorn==0.30.3
Pillow==10.4.0
imageio>=2.34.0
imageio-ffmpeg>=0.5.1
huggingface_hub
safetensors
optimum-quanto==0.2.4
sentencepiece
tiktoken
protobuf
numpy
