services:
  wg-dns:
    image: coredns/coredns:1.11.1
    container_name: idc1-wg-dns
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./config/coredns/Corefile:/etc/coredns/Corefile:ro
      - ./config/coredns/zones:/etc/coredns/zones:ro
