services:
  wg-dns:
    image: coredns/coredns:1.11.1
    container_name: idc1-wg-dns
    restart: unless-stopped
    network_mode: "host"
    command: ["-conf", "/Corefile"]
    volumes:
      - ./config/coredns/Corefile:/Corefile:ro
      - ./config/coredns/zones:/etc/coredns/zones:ro

  portainer:
    image: portainer/portainer-ce:2.33.6
    container_name: idc1-portainer
    restart: unless-stopped
    command: ["-H", "unix:///var/run/docker.sock"]
    ports:
      - "127.0.0.1:9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

volumes:
  portainer_data:
    external: true
    name: idc1-portainer_portainer_data
